    <h1>Are you sure you want to start a new game thread? </h1>
    <h2>All users will see this game on the homepage</h2>

    <p class="mt-5">
            <% if @current_user %>
                <a href="/new_event" class="btn btn-primary">Yes, start a game!</a>
                 <p>
                    <a href="/" class="btn btn-secondary">No, back to home!</a></p>
                <p>

            <% else %>
                <a href="/logins/new" class="btn btn-warning">Please sign in to create a new game</a>
                <p>
                    <a href="/" class="btn btn-secondary">No, back to home!</a></p>
                <p>
                    <a href="/users/new" class="link" >New User? Sign Up!</a>
                </p>


            <% end %>
        </p>