
h5 {
 font-size: 20pt;
 text-align: center;
  text-decoration:  underline ;
  }

h3 {
 font-size: 16pt;
}

.deets {
text-align: center;    
}

.div{

border-style: none none none solid;
border-color:#0275d8;
background-color:#e6f3ff;

}




